body {
    font-family: 'nunito';
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    margin: 0px 0px 8px 0px;
}
.wallpaper {
    z-index: -100;
    position: fixed;
    top: 0%; /* Start position at bottom */
    width: 100%;
    height: 200000%;
    background-image: url(https://github.com/pkzstar/plus-side/blob/main/images/bg100.png?raw=true);
    animation: scrollAnimation 40000s linear infinite;
}
@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
.wallpaper2 {
    z-index: -100;
    position: fixed;
    top: 100%; /* Start position at bottom */
    width: 100%;
    height: 100%;
    background-image: url(https://github.com/pkzstar/plus-side/blob/main/images/bg100.png?raw=true);
    /* animation: scrollAnimation 4s linear infinite; */
}
@keyframes loadInAnimation {
    0% {
        top: 95.3%;
    }
    100% {
        top: 0;
    }
}
@media only screen and (max-width: 767px) {
    div.wallpaper  {
        background-size: 75%;
    }
    div.wallpaper2 {
        background-size: 75%;
    }
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a:link { color: rgb(0, 0, 0);}
a:visited { color: rgb(0, 0, 0);}
a:hover {color: rgb(0, 0, 0);}
a:active { color: rgb(27, 0, 199);}
@media only screen and (max-width: 600px) {
    p {
        font-size: 12px;
    } 
    h3 {
        font-size: medium;
    }
}
img:focus {
    image-rendering:optimizeQuality;
    transform: scale3d(1.3, 1.3, 1.3);
    cursor:pointer;
    transition: .25s ease;
}
img.zoomed {
    transform: scale3d(1, 1, 1);
}
img:hover {
    cursor:zoom-in;
}
img.upcoming-resize:hover {
    cursor: unset;
}
img.pm-rank:hover {
    cursor: unset;
}
.hidden {
    display: none;
}
.whiteText {
    color: white;
}





/* calendar & past events buttons */


.past-events-drop {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    
    .past-events-drop {
        font-size: 12px;
        margin-top: 10px;
        }
 }
.past-events-drop .past-events-drop-btn {
    cursor: pointer;
    height: auto;
    font-size: 30px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: inherit;
    padding: 0;
    overflow: visible;
    z-index: 11111;
}
.past-events-drop-btn:hover {
    color: rgb(167, 83, 247);
    transition: transform 0.3s ease
}
@media only screen and (max-width: 600px) {

    div.past-events-drop.calView {
        margin: 10px 5px 5px 0;
    }

    div.dropdown-content {
        margin: 30px 0px 0px -5px;
        grid-template-columns: repeat(2, auto);
        grid-auto-flow: column;
        position: absolute;
        z-index: 1;
    }
    a.dropdown-links {
        margin: 0 10px 0px -5px;
    }
    #past-year {
        font-size: 20px;
    }
    button#past-events-drop-btn {
        font-size: 17.5px;
        flex: 1;
        width: fit-content;
        height: auto;
    }
 }
.dropdown-content {
    margin: 50px 5px 0px -10px;
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: column;
    position: absolute;
    z-index: 1;
}
.dropdown-links {
    margin: 0px 0px 5px 10px;
    border-radius: 25%;
    background-color: rgba(0, 0, 0, 0.705);
    border-style: double;
    border-style: double;
    border-block-style: groove;
    border-block-width: thick;
    border-inline-color: rgb(113, 36, 255);
    border-block-color: green;
}
@media only screen and (max-width: 600px) {
    .dropdown-links {
        margin: 5px 0 5px 30px;
    }
}
.dropdown-links:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.3s ease
}
#past-year {
    color:  rgb(10, 180, 88);
    margin: 0 0px 0 0px;
}
#past-year:hover {
    color: rgb(167, 83, 247);
    transition: transform 0.3s ease

}
#past-year:active { color: rgb(104, 85, 233)}
.pastList {
    display: flex;
}
.calView {
    font-size: 30px;
    background: rgb(50,185,152);
    background: -moz-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32b998",endColorstr="#ffffff",GradientType=1);    border-radius: 15px 15px 15px 15px;
    padding-left: 18px;
    padding-right: 18px;
    box-shadow: 0 0 3px 0 rgb(0, 196, 16);
        transition: .3s;
        border-block-color: green;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
       margin: 0 50px 0 50px;
       cursor: pointer;
}
.calViewList {
    font-size: 30px;
    background: rgb(50,185,152);
    background: -moz-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32b998",endColorstr="#ffffff",GradientType=1);    border-radius: 15px 15px 15px 15px;
    padding-left: 18px;
    padding-right: 18px;
    box-shadow: 0 0 3px 0 rgb(0, 196, 16);
        transition: .3s;
        border-block-color: green;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
}
@media only screen and (max-width: 767px) {
    
    div.calViewListContainer {
        margin: 0 0px 0 30px;

    }
    button.calView {
        margin: 10px 5px 5px 0;
        flex: 1;
        width: fit-content;
        height: auto;
        font-size: 17.5px;
    }
    .listView {
    margin-bottom: 1%;    
}
button.calViewList {
    margin: 10px 5px 5px 0;
    font-size: 17.5px;
}
}
.calView:hover
    {
        color: rgb(167, 83, 247);
        box-shadow: 2px 2px 5px 1px rgb(0, 43, 4);
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
       box-shadow: 0 0 20px 0  rgb(167, 83, 247);
       border-inline-color: rgb(113, 36, 255);
       border-block-color: green;       
}
.calView:active {
    color: rgb(27, 0, 199);
}
.calViewList:hover {
    color: rgb(167, 83, 247);
    cursor: pointer;
    box-shadow: 0 0 20px 0  rgb(167, 83, 247);
    border-inline-color: rgb(113, 36, 255);
    border-block-color: green;
}
.calViewList:active {
    color: rgb(27, 0, 199);
}
.listView {
    margin-bottom: 6%;
}
.calViewListContainer {
    margin: 0 0px 0 70px;
    display: flex;
    justify-content: center;
}

/* page headers */

#pageHeader {
    font-family: 'Nunito';
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 100px;
    font-style: italic;
    margin: unset;
}
#authorPageHeader {
    font-family: 'Nunito';
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 50px;
    font-style: italic;
    margin: unset;
    margin: 1% 0 2% 0;
}
@media only screen and (max-width: 600px) {
   #pageHeader {
    font-family: 'Nunito';
    -webkit-text-stroke-width: unset;
    font-size: x-large;
    margin: unset;
   }
   #authorPageHeader {
    font-family: 'Nunito';
    -webkit-text-stroke-width: unset;
    font-size: large;
    margin: 5px 0 5px 0;
   }
   h1.textGradient {
    text-shadow:
    0px 0px 0px #ffffff, /* Outer shadow */
    2px 2px 2px rgba(50,185,152,1), /* Inner shadow */
    2px 2px 2px  rgba(50,185,152,1); /* Inner shadow */
   }
}
.textGradient {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 45%, rgba(128,128,128,1) 60%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 45%, rgba(128,128,128,1) 60%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 45%, rgba(128,128,128,1) 60%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    text-shadow:
    0px 0px 0px #ffffff, /* Outer shadow */
    3px 3px 3px rgba(50,185,152,1), /* Inner shadow */
    3px 3px 3px  rgba(50,185,152,1); /* Inner shadow */
}
#pageHeaderAuthor {

    font-family: 'Nunito';
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 50px;
    font-style: italic;
    margin: unset;
}



/* startgg */

.startgg {
    font-size: 25px;
    background: rgb(50,185,152);
    background: -moz-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32b998",endColorstr="#ffffff",GradientType=1);
    border-radius: 15px 15px 15px 15px;
    padding-left: 10px;
    padding-right: 10px;
    transition:  .3s;
    box-shadow: inset 0 0 3px 0 rgb(50,185,152);
        border-inline-color: rgb(113, 36, 255);
        border-block-color: green;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
       margin: 0px 15px 0 15px;
}
@media only screen and (max-width: 600px) {
    a.startgg {
        flex: 1;
        width: 50%;
        font-size: 20px;
        display: inline-block;
        margin: 5px 0 5px 0;
    }
}
.startgg:hover {
    transition: .75s ease-in-out;
    color: rgb(0, 0, 0);
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
       box-shadow:inset 0px 0px 0px 300px rgba(0, 0, 0, 0.438);
       background: transparent
}
.startgg:active {
    transition: none;
    box-shadow: 4px 4px 7px 3px rgb(0, 43, 4);
    color: rgb(27, 0, 199);
    background: rgba(0, 0, 0, 0.322);

}
.startggAfter {
    transition: .5s ease-in-out; 
    background: linear-gradient(30deg, rgba(50,185,152,1) 15%, rgba(147,255,214,1) 35%, rgba(50,185,152,1) 55%, rgba(147,255,214,1) 75%, rgba(50,185,152,1) 95%);
    box-shadow: inset 0px 0px 0px 0px  rgba(0, 0, 0, 0.521);
}

.upcomingMedia {
    margin-left: 25px;
    
}