body {
    background-image: url(https://github.com/pkzstar/plus-side/blob/main/images/mosiac.png?raw=true);
    background-attachment: fixed;
    overflow-x: hidden;
    background-color: black;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a:link { color: rgb(0, 0, 0);}
a:visited { color: rgb(0, 0, 0);}
a:hover {color: slateblue;}
a:active { color: rgb(60, 42, 177)}
@media only screen and (max-width: 600px) {
    p {
        font-size: 15px;
    }
}
b {
    color: white;
    text-shadow: 7px 7px 7px #000000;
    margin-inline: 1%;
    display: inline-flex;
}
b:hover {
    color: slateblue;
}
b:active { color: rgb(60, 42, 177)}
c {
    color: rgb(10, 180, 88);
    text-shadow: 5px 5px 5px #000000;  
}
c:hover {
    color: slateblue;
}
c:active { color: rgb(60, 42, 177)}
@media only screen and (max-width: 600px) {
section.nav-text {
     width: auto;
     font-size: 20px;
     padding: 5px;
    }
 }
.header-nav {
    background-position-y: 70%;
    background-size: cover;
    background-image: url(https://github.com/pkzstar/plus-side/blob/main/images/pokemon.gif?raw=true);
    font-size: 35px;
    text-align: center;
  border-radius: 35%;
  font-family: Nunito;
 padding: 30px;
}
@media only screen and (max-width: 600px) { 
   div.header-nav {
    width: auto;
    background-position-y: 70%;
    background-size:cover;
    background-image: url(https://github.com/pkzstar/plus-side/blob/main/images/pokemon.gif?raw=true);
    font-size: 20px;
    padding: 5px;
   }
}
img.plus-side-net-nav {
    float: left;
    width: 250px;
}
@media only screen and (max-width: 600px) {
    
    img.plus-side-net-nav {
        display: none;
        position: absolute;
     }
 }
img.plus-side-net-nav:hover {
  transform: scale3d(1.1, 1.1, 1.1); 
}
img.plus-side-net-nav:active {
    transform: scale3d(1.2, 1.2, 1.2); 
  }
.twitter-link {
    float: right;
    height: 50px;
    width: auto;
}
@media only screen and (max-width: 600px) { img.twitter-link {
        display: none;
        height: 25px;
        width: auto;
     }
 }
.twitter-link:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}
.twitter-link:active {
    transform: scale3d(1.2, 1.2, 1.2);
}
.youtube-link {
    float: right;
    height: 50px;
    width: auto;
}
@media only screen and (max-width: 600px) { img.youtube-link {
        display: none;
        height: 25px;
        width: auto;
     }
 }
.youtube-link:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}
.youtube-link:active {
    transform: scale3d(1.2, 1.2, 1.2);
}
.upcoming-image-parent {
    margin-top: 25px;
    text-align: center;
}
.upcoming-resize {
    width: 75%;
}
@media only screen and (max-width: 600px) {
    
   img.upcoming-resize  {
    width: 100%;
     }
 }
.upcoming-date {
    padding-left: 50px;
    text-align: left;
        font-size: large;
        font-family: Nunito;
}
.events {
    border-inline-color: rgb(0, 146, 172);
    font-family: Nunito;
    text-align: center;
    padding: 25px;
    margin: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0 0 3px 0 rgb(0, 196, 16);
    transition: .3s;
    border-block-color: green;
    border-style: double;
    border-block-style: groove;
   border-block-width: thick;
   background: linear-gradient(rgb(50, 185, 152), rgb(156, 249, 214));
   border-block-end-color: rgb(0, 65, 50);
   writing-mode: horizontal-tb;
}
.events:hover {
    border-inline-color: rgb(0, 146, 172);
    border-style: double;
    border-block-color: rgb(255, 255, 255);
    border-block-style: groove;
   border-block-width: thick;
}
.events-title{
    padding-left: 50px;
    text-align: left;
}
.events-text {
    font-size: larger;
    padding-left: 50px;
    text-align: left;
}
.article-head {
    padding-left: 50px;
    text-align: left;
    font-family: Nunito;
}
.article-date {
    font-size: large;
    font-family: Nunito;
}
.article-read {
    font-size: 30px;
    float: center;
    background-color: rgb(50, 185, 152);
    border-radius: 15px 15px 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 3px 0 rgb(0, 196, 16);
        transition: .3s;
        border-block-color: green;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
       
}
.article-read:hover {
    box-shadow: 2px 2px 5px 1px rgb(0, 43, 4);
    border-style: double;
    font-family: Nunito; 
    color: slateblue;
    border-inline-color: slateblue;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
}
.article-style {
    flex-direction: row;
    border-inline-color: rgb(0, 146, 172);
    font-family: Nunito;
    text-align: center;
    padding: 25px;
    margin: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0 0 3px 0 rgb(0, 196, 16);
    transition: .3s;
    border-block-color: green;
    border-style: double;
    border-block-style: groove;
   border-block-width: thick;
   background: linear-gradient(rgb(50, 185, 152), rgb(156, 249, 214));
   border-block-end-color: rgb(0, 65, 50);
   writing-mode: horizontal-tb;
}
.article-style:hover {
    box-shadow: 2px 2px 5px 1px rgb(0, 43, 4);
    border-style: double;
    font-family: Nunito; 
    border-block-color: rgb(255, 255, 255);
    border-block-style: groove;
   writing-mode: horizontal-tb;
   border-block-width: thick;
}
.article-body {
    font-size: larger;
    padding-left: 50px;
    text-align: left;
}
.article-banner {
    flex: 0 0 300px;
    border-radius: 25%;
    height: 300px;
    width: 300px;
    border-style: double;
    border-block-end-color: rgb(0, 65, 50);
    box-shadow: 3px 3px 6px 2px rgb(0, 43, 4);
}
.article-banner:hover {
    box-shadow: 6px 6px 9px 4px rgb(0, 43, 4);
}
.events-banners {
    flex: 0px;
    border-radius: 25%;
    max-width: 300px;
    max-height: 300px;
    height: 300px;
    width: 300px;
    border-style: double;
    border-block-end-color: rgb(0, 65, 50);
    box-shadow: 3px 3px 6px 2px rgb(0, 43, 4);
}
.events-banners:hover {
    box-shadow: 6px 6px 9px 4px rgb(0, 43, 4);
}
.pm-rank {
    float: right;
}
.pm-rank-centered {
    float: center;
}
.pm-rank-centered-invis {
    float: center;
    visibility: hidden;
}
.start-gg {
    font-size: 30px;
    float: center;
    background-color: rgb(50, 185, 152);
    border-radius: 15px 15px 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 3px 0 rgb(0, 196, 16);
        transition: .3s;
        border-block-color: green;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
}
@media only screen and (max-width: 600px) {
    a.start-gg {
        flex: 1;
        width: 50%;
        height: auto;
        font-size: 15px;
    }
}
.start-gg:hover {
    box-shadow: 2px 2px 5px 1px rgb(0, 43, 4);
    border-inline-color: slateblue;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
}
.past-events { 
    border-inline-color: rgb(0, 146, 172);
    font-family: Nunito;
    text-align: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0 0 3px 0 rgb(0, 196, 16);
    transition: .3s;
    border-block-color: green;
    border-block-style: groove;
   border-block-width: thick;
   border-style: double;
   background: linear-gradient(rgb(50, 185, 152), rgb(156, 249, 214));
   border-block-end-color: rgb(0, 65, 50);
   writing-mode: horizontal-tb;
}
@media only screen and (max-width: 600px) {
    li.past-events {
        border-radius: 25%;
        border-style: double;
        border-block-end-color: rgb(0, 65, 50);
        box-shadow: 3px 3px 6px 2px rgb(0, 43, 4);
        flex: 1;
        width: 50%;
        max-width: 250px;
        min-width: 200px;
    }
}
.past-events:hover {
    border-inline-color: rgb(0, 146, 172);
    border-style: double;
    border-block-color: rgb(255, 255, 255);
    border-block-style: groove;
   border-block-width: thick;
}
.past-article-text {
        font-size: larger;
        text-align: center;
}
.past-events-title{
    text-align: center;
}
.vods-past {
    font-size: 30px;
    float: center;
    background-color: rgb(50, 185, 152);
    border-radius: 15px 15px 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 3px 0 rgb(0, 196, 16);
        transition: .3s;
        border-block-color: green;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
}
@media only screen and (max-width: 600px) {
    a.vods-past {
        flex: 1;
        width: 50;
        font-size: 15px;
    }
}
.vods-past:hover {
    box-shadow: 2px 2px 5px 1px rgb(0, 43, 4);
    border-inline-color: slateblue;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
}
.article-page-text {
    color: white;
    font-size: x-large;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}
.article-body-image {
    width: 75%;
    height: auto;
}
.article-body-image-bigger {
    width: 100%;
    height: auto;
}
.article-player-side {
    text-align: left;
}
img.article-potential-characters {
    display: block;
    float: right;
    height: 250px;
    width: auto;
}
.video-size-desktop
{
    width: 75%;
    height: 635px;
}
.video-con {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}

.video-con iframe,
.video-con object,
.video-con embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
}
.past-events-drop {
    float: center;
    overflow: hidden;
}
#past-events-drop-btn:hover {
    color: slateblue;
}
.past-events-drop .past-events-drop-btn {
    align-content: center;
    text-align: center;
    font-size: 35px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
@media only screen and (max-width: 600px) {
    
    button#past-events-drop-btn
   {
    font-size: 20px;
        padding: 2px;
     }
 }
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.past-events-drop:hover .dropdown-content {
    align-content: center;
    display: block;
}
.dropdown-links {
    margin: 0 5px 0 5px;
    float: left;
}
.past-events-drop-btn {
    font-weight: bold;
    align-content: center;
    text-shadow: 7px 7px 7px #000000;
    margin-inline: 1%;
}
#past-year {
    color:  rgb(10, 180, 88);
    text-shadow: 5px 5px 5px #000000;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: .1px;
    margin: 0 0px 0 0px;
}
#past-year:hover {
    color: slateblue;
}
#past-year:active { color: rgb(60, 42, 177)}
.past-events-banners {
    flex: 0px;
    border-radius: 25%;
    max-width: 300px;
    max-height: 300px;
    height: 300px;
    width: 300px;
    border-style: double;
    border-block-end-color: rgb(0, 65, 50);
    box-shadow: 3px 3px 6px 2px rgb(0, 43, 4);
}
@media only screen and (max-width: 600px) {
    img.past-events-banners {
        border-radius: 25%;
        border-style: double;
        border-block-end-color: rgb(0, 65, 50);
        box-shadow: 3px 3px 6px 2px rgb(0, 43, 4);
        flex: 1;
        width: 75%;
    }
}
.past-events-banners:hover {
    box-shadow: 6px 6px 9px 4px rgb(0, 43, 4);
}
@media only screen and (max-width: 600px) {
    ul.pastList {
        justify-content: center;
    }
}