body {
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    background-size: 100%;
}
.wallpaper {
    z-index: -100;
    position: fixed;
    top: 0; /* Start position at bottom */
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://github.com/pkzstar/plus-side/blob/main/images/bg.png?raw=true);
    background-size: 15%;
    animation: scrollAnimation 45s linear infinite;
    
}

@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
.wallpaper2 {
    z-index: -100;
    position: fixed;
    top: 100%; /* Start position at bottom */
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://github.com/pkzstar/plus-side/blob/main/images/bg.png?raw=true);
    background-size: 15%;
    animation: scrollAnimation 45s linear infinite;
}
/* Add a separate keyframe to bring the image in from the bottom */
@keyframes loadInAnimation {
    0% {
        top: 100%;
    }
    100% {
        top: 0;
    }
}
@media only screen and (max-width: 767px) {
    div.wallpaper  {
        background-size: 75%;
    }
    div.wallpaper2 {
        background-size: 75%;
    }
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a:link { color: rgb(0, 0, 0);}
a:visited { color: rgb(0, 0, 0);}
a:hover {color: rgb(167, 83, 247);}
a:active { color: rgb(27, 0, 199);}
@media only screen and (max-width: 600px) {
    p {
        font-size: 12px;
    }
}
#navText {
    color: white;
    text-shadow: 7px 7px 7px #000000;
    margin-inline: 1%;
    margin: 0;
}
#navText:hover {
    color: rgb(10, 180, 88);
    /* transform: scale3d(1.1, 1.1, 1.1);  */
    transition: transform 0.3s ease;
}
#navText:active { 
    transition: transform 0.3s ease;
    color: rgb(167, 83, 247);
}
h1.navText {
    color: white;
    text-shadow: 7px 7px 7px #000000;
    margin-inline: 1%;
    margin: 0;
}
h1.navText:hover {
    color: rgb(10, 180, 88);
    transform: scale3d(1.1, 1.1, 1.1); 
    transition: transform 0.3s ease;
}
h1.navText:active { 
    color: rgb(167, 83, 247);
}
div#patrons {
    margin: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
}
div#patrons:active {
    color: rgb(167, 83, 247);
    margin: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 600px) {
section.nav-text {
    display: flex;
    justify-content: space-evenly;
    }
 }
 section.nav-text {
    display: flex;
    justify-content: space-evenly;
 }
.header-nav {
    font-family: 'Nunito';
    background-position-y: 70%;
    background-size: cover;
    background-image: url(https://github.com/pkzstar/plus-side/blob/main/images/pokemon.gif?raw=true);
    font-size: 35px;
  border-radius: 35%;
  padding: 30px 30px 30px 30px;
}
@media only screen and (max-width: 600px) { 
   div.header-nav {
    width: auto;
    background-position-y: 70%;
    background-size:cover;
    background-image: url(https://github.com/pkzstar/plus-side/blob/main/images/pokemon.gif?raw=true);
    font-size: 20px;
    padding: 5px;
   }
}
img.plus-side-net-nav {
    float: left;
    width: 250px;
}
@media only screen and (max-width: 600px) {
    
    img.plus-side-net-nav {
        display: flex;
        min-width: 25px;
        width: 25%;
        max-width: 100px;
        margin: -2px 0 0 10px;
     } 
 }
img.plus-side-net-nav:hover {
  transform: scale3d(1.1, 1.1, 1.1); 
  transition: transform 0.3s ease

}
/* img.plus-side-net-nav:active {
    transform: scale3d(1.2, 1.2, 1.2); 
  } */
.twitter-link {
    margin: -2px -2px 0px -2px;
    float: right;
    height: 55px;
    width: auto;
}
@media only screen and (max-width: 600px) { 
    img.twitter-link {
    display: flex;
    min-height: 20px;
    height: 10%;
    max-height: 30px;
     }
     a.twitter-link {
        max-height: 20px;
     }
 }
.twitter-link:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.3s ease
}
/* .twitter-link:active {
    transform: scale3d(1.2, 1.2, 1.2);
} */
.youtube-link {
    margin: 0 1px 0 1px;
    float: right;
    height: 50px;
    width: auto;
}
@media only screen and (max-width: 600px) { 
    
    img.youtube-link {
    min-height: 20px;
    height: 10%;
    max-height: 30px;
     }
     a.youtube-link {
        max-height: 20px;
     }
 }
.youtube-link:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.3s ease

}
/* .youtube-link:active {
    transform: scale3d(1.2, 1.2, 1.2);
} */
.upcoming-image-parent {
    margin-top: 25px;
    text-align: center;
}
.upcoming-resize {
    width: 75%;
}
@media only screen and (max-width: 600px) {
    
   img.upcoming-resize  {
    width: 100%;
     }
 }
.upcoming-date {
    font-family: 'Nunito';
    padding-left: 50px;
    text-align: left;
        font-size: large;
}
.events {
    font-family: 'Nunito';
    text-align: center;
    padding: 25px;
    margin: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100px 100px 100px 100px;
    transition: .3s;
    border-style: double;
    border-block-style: groove;
   border-block-width: thick;
   background: rgb(50,185,152);
   background: -moz-linear-gradient(30deg, rgba(50,185,152,1) 15%, rgba(147,255,214,1) 35%, rgba(50,185,152,1) 55%, rgba(147,255,214,1) 75%, rgba(50,185,152,1) 95%);
   background: -webkit-linear-gradient(30deg, rgba(50,185,152,1) 15%, rgba(147,255,214,1) 35%, rgba(50,185,152,1) 55%, rgba(147,255,214,1) 75%, rgba(50,185,152,1) 95%);
   background: linear-gradient(30deg, rgba(50,185,152,1) 15%, rgba(147,255,214,1) 35%, rgba(50,185,152,1) 55%, rgba(147,255,214,1) 75%, rgba(50,185,152,1) 95%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32b998",endColorstr="#32b998",GradientType=1);
   box-shadow: 0 0 9px 0  rgb(113, 36, 255);
   border-inline-color: rgb(113, 36, 255);
   border-block-color: green;
   writing-mode: horizontal-tb;
}
.events:hover {
    border-style: double;
    border-block-style: groove;
   border-block-width: thick;
   box-shadow: 0 0 20px 0  rgb(255, 255, 255);
   border-inline-color: green;
   border-block-color: rgb(113, 36, 255);
}
@media only screen and (max-width: 600px) {
    .events {
        align-items: center;
        display: block;
        border-radius: 25%;
        border-style: double;
        flex: 1;
        width: 75%;
        height: 75%;
        max-width: 250px;
        min-width: 200px;
        box-shadow: 0 0 15px 0  rgb(113, 36, 255);

    }
    .events-title {
        text-align: center;
        align-content: center;
    }
    p.events-text {
        padding: unset;
        font-size: larger;
        text-align: center;
    }
    h1.article-head {
        padding: unset;
        text-align: center;
    }
    div.article-head {
        padding: unset;
        text-align: center;
    }
}
.events-title{
    padding-left: 50px;
    text-align: left;
}
.events-text {
    font-size: larger;
    padding-left: 50px;
    text-align: left;
}
.article-head {
    font-family: 'Nunito';
    padding-left: 50px;
    text-align: left;
}
.article-date {
    font-family: 'Nunito';
    font-size: large;
}
@media only screen and (max-width: 1000px) {
    b.article-date {
        font-size: 29px;
    }
    p.article-date {
        font-size: 29px;
    }
}
.article-read {
    font-size: 30px;
    background: rgb(50,185,152);
    background: -moz-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32b998",endColorstr="#ffffff",GradientType=1);    border-radius: 15px 15px 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 3px 0 rgb(0, 196, 16);
        transition: .3s;
        border-block-color: green;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
       
}
.article-read:hover {
    font-family: 'Nunito';
    box-shadow: 2px 2px 5px 1px rgb(0, 43, 4);
    border-style: double;
    color: rgb(60, 42, 177);
    border-inline-color: slateblue;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
}
.article-read:active {
    color: rgb(27, 0, 199);
}
.article-style {
    font-family: 'Nunito';
    flex-direction: row;
    text-align: center;
    padding: 25px;
    margin: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100px 100px 100px 100px;
    transition: .3s;
    border-style: double;
    border-block-style: groove;
   border-block-width: thick;
   background: rgb(50,185,152);
   background: -moz-linear-gradient(30deg, rgba(50,185,152,1) 15%, rgba(147,255,214,1) 35%, rgba(50,185,152,1) 55%, rgba(147,255,214,1) 75%, rgba(50,185,152,1) 95%);
   background: -webkit-linear-gradient(30deg, rgba(50,185,152,1) 15%, rgba(147,255,214,1) 35%, rgba(50,185,152,1) 55%, rgba(147,255,214,1) 75%, rgba(50,185,152,1) 95%);
   background: linear-gradient(30deg, rgba(50,185,152,1) 15%, rgba(147,255,214,1) 35%, rgba(50,185,152,1) 55%, rgba(147,255,214,1) 75%, rgba(50,185,152,1) 95%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32b998",endColorstr="#32b998",GradientType=1);   border-block-end-color: rgb(0, 65, 50);
   box-shadow: 0 0 9px 0  rgb(113, 36, 255);
   border-inline-color: rgb(113, 36, 255);
   border-block-color: green;
   writing-mode: horizontal-tb;
}
@media only screen and (max-width: 600px) {
    .article-style {
        align-items: center;
        display: block;
        border-radius: 25%;
        border-style: double;
        border-block-end-color: rgb(0, 65, 50);
        box-shadow: 3px 3px 6px 2px rgb(0, 43, 4);
        flex: 1;
        width: 75%;
        height: 75%;
        max-width: 250px;
        min-width: 200px;
    }
    .events-title {
        text-align: center;
        align-content: center;
    }
    p.events-text {
        padding: unset;
        font-size: larger;
        text-align: center;
    }
    h1.article-head {
        padding: unset;
        text-align: center;
    }
    div.article-head {
        padding: unset;
        text-align: center;
    }
    img.article-banner {
        display: inline-flex;
        justify-content: left;
        flex: 1;
        height: auto;
        width: 75%;
        min-height: 150px;
    }
    p.article-body {
        text-align: center;
        padding: unset;
    }
    a.article-read {
        flex: 1;
        width: 50%;
        height: auto;
        font-size: 20px;
    }
}
.article-style:hover {
    font-family: 'Nunito';
    border-style: double;
    border-block-color: rgb(255, 255, 255);
    border-block-style: groove;
   writing-mode: horizontal-tb;
   border-block-width: thick;
   box-shadow: 0 0 20px 0  rgb(255, 255, 255);
   border-inline-color: green;
   border-block-color: rgb(113, 36, 255);
}
.article-body {
    font-size: larger;
    padding-left: 50px;
    text-align: left;
}
.article-banner {
    flex: 0 0 300px;
    border-radius: 25%;
    height: 300px;
    width: 300px;
    border-style: double;
    border-block-end-color: rgb(0, 65, 50);
    box-shadow: 3px 3px 6px 2px rgb(0, 43, 4);
}
.article-banner:hover {
    transform: scale3d(1.02, 1.02, 1.02); 
    transition: transform 0.3s ease
}
.article-banner:active {
    transform: scale3d(1.03, 1.03, 1.03); 
}
.articleLink {
    display: inline-flex;

    color:  rgb(10, 180, 88);
}
.articleLink:hover {
    color: slateblue;
}
.articleLink:active {
    color: rgb(60, 42, 177);
}
#articleLink {
    color:  rgb(10, 180, 88);
}
#articleLink:hover {
    color: slateblue;
}
#articleLink:active {
    color: rgb(60, 42, 177);
}
#articleAuthor {
    float: right;
}
.events-banners-trans {
    flex: 0px;
    max-width: 300px;
    max-height: 300px;
    height: 300px;
    width: 300px;
    border-radius: 25%;

}
.events-banners-trans:hover {
    transform: scale3d(1.02, 1.02, 1.02); 
    transition: transform 0.3s ease;
}
.events-banners-trans:active {
    transform: scale3d(1.03, 1.03, 1.03); 
}
.events-banners {
    flex: 0px;
    border-radius: 25%;
    max-width: 300px;
    max-height: 300px;
    height: 300px;
    width: 300px;
    border-style: double;
    border-block-end-color: rgb(0, 65, 50);
    box-shadow: 3px 3px 6px 2px rgb(0, 43, 4);
}
.events-banners:hover {
    transform: scale3d(1.02, 1.02, 1.02); 
    transition: transform 0.3s ease
}
.events-banners:active {
    transform: scale3d(1.03, 1.03, 1.03); 
}
@media only screen and (max-width: 600px) {
    img.events-banners {
        border-radius: 25%;
        border-style: double;
        border-block-end-color: rgb(0, 65, 50);
        box-shadow: 3px 3px 6px 2px rgb(0, 43, 4);
        flex: 1;
        height: auto;
        width: 75%;
    }
    img.events-banners-trans {
        flex: 1;
        width: 75%;
        height: auto;
    }
    h3 
    {
        font-size: medium;
    }
}
.pm-rank {
    float: right;
}
.pm-rank-centered-invis {
    visibility: hidden;
}
.start-gg {
    font-size: 30px;
    background: rgb(50,185,152);
    background: -moz-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32b998",endColorstr="#ffffff",GradientType=1);
    border-radius: 15px 15px 15px 15px;
    padding-left: 18px;
    padding-right: 18px;
    box-shadow: 0 0 3px 0 rgb(0, 196, 16);
        transition: .3s;
        border-inline-color: rgb(113, 36, 255);
        border-block-color: green;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
}
@media only screen and (max-width: 600px) {
    a.start-gg {
        flex: 1;
        width: 50%;
        height: auto;
        font-size: 20px;
    }
}
.start-gg:hover {
    color: rgb(167, 83, 247);
    box-shadow: 2px 2px 5px 1px rgb(0, 43, 4);
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;       
}
.start-gg:active {
    box-shadow: 4px 4px 7px 3px rgb(0, 43, 4);
    color: rgb(27, 0, 199);
}
.past-events { 
    font-family: 'Nunito';
    text-align: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    border-radius: 100px 100px 100px 100px;
    transition: .3s;
    border-block-style: groove;
   border-block-width: thick;
   border-style: double;
   background: rgb(50,185,152);
   background: -moz-linear-gradient(30deg, rgba(50,185,152,1) 15%, rgba(147,255,214,1) 35%, rgba(50,185,152,1) 55%, rgba(147,255,214,1) 75%, rgba(50,185,152,1) 95%);
   background: -webkit-linear-gradient(30deg, rgba(50,185,152,1) 15%, rgba(147,255,214,1) 35%, rgba(50,185,152,1) 55%, rgba(147,255,214,1) 75%, rgba(50,185,152,1) 95%);
   background: linear-gradient(30deg, rgba(50,185,152,1) 15%, rgba(147,255,214,1) 35%, rgba(50,185,152,1) 55%, rgba(147,255,214,1) 75%, rgba(50,185,152,1) 95%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32b998",endColorstr="#32b998",GradientType=1);   border-block-end-color: rgb(0, 65, 50);
   box-shadow: 0 0 20px 0  rgb(113, 36, 255);
   border-inline-color: rgb(113, 36, 255);
   border-block-color: green;
   writing-mode: horizontal-tb;
}
@media only screen and (max-width: 600px) {
    li.past-events {
        border-radius: 25%;
        border-style: double;
        flex: 1;
        width: 50%;
        max-width: 250px;
        min-width: 200px;
    }
}
.past-events:hover {
    border-style: double;
    border-block-style: groove;
   border-block-width: thick;
   box-shadow: 0 0 20px 0  rgb(255, 255, 255);
   border-inline-color: green;
   border-block-color: rgb(113, 36, 255);
}
.past-article-text {
        font-size: larger;
        text-align: center;
}
.past-events-title{
    text-align: center;
}
.vods-past {
    font-size: 30px;
    background: rgb(50,185,152);
    background: -moz-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32b998",endColorstr="#ffffff",GradientType=1);    border-radius: 15px 15px 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 3px 0 rgb(0, 196, 16);
        transition: .3s;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
   border-inline-color: rgb(113, 36, 255);
   border-block-color: green;
       margin: 0px 0 10px 0;
}
@media only screen and (max-width: 600px) {
    a.vods-past {
        margin: 0px 0 10px 0;
        flex: 1;
        width: 50;
        font-size: 20px;
    }
    p.top3 {
        margin: 10px 0 10px 0;
    }
    div.article-page-text {
        margin: unset;
        margin: 5%;
    }
}
.vods-past:hover {
    box-shadow: 2px 2px 5px 1px rgb(0, 43, 4);
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
       color: rgb(167, 83, 247);
}
.vods-past:active {
    color: rgb(27, 0, 199);
    box-shadow: 4px 4px 7px 3px rgb(0, 43, 4);

}
.article-page-text {
    color: white;
    font-size: x-large;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.article-body-image {
    width: 75%;
    height: auto;
    border-width: 2px;
    border-color: white;
    border-style: outset;
    box-shadow: 0 0 15px 0  rgb(167, 83, 247);

}
.article-body-image-bigger {
    width: 100%;
    height: auto;
    border-width: 2px;
    border-color: white;
    border-style: outset;
    box-shadow: 0 0 15px 0  rgb(167, 83, 247);

}
.article-player-side {
    text-align: left;
}
img.article-potential-characters {
    display: block;
    float: right;
    height: 250px;
    width: auto;
}
.video-size-desktop
{
    width: 75%;
    height: 635px;
}
.video-con {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}

.video-con iframe,
.video-con object,
.video-con embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
}
.past-events-drop {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    
    .past-events-drop {
        font-size: 12px;
        margin-top: 10px;
        }
 }
.past-events-drop .past-events-drop-btn {
    cursor: pointer;
    height: auto;
    font-size: 30px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: inherit;
    padding: 0;
    overflow: visible;
    z-index: 11111;
}
.past-events-drop-btn:hover {
    color: rgb(167, 83, 247);
    transition: transform 0.3s ease
}
@media only screen and (max-width: 600px) {

    div.past-events-drop.calView {
        margin: 10px 5px 5px 0;

    }

    div.dropdown-content {
        margin: 30px 0px 0px -5px;
        grid-template-columns: repeat(2, auto);
        grid-auto-flow: column;
        position: absolute;
        z-index: 1;
    }
    a.dropdown-links {
        margin: 0 10px 0px 0px;
    }
    #past-year {
        font-size: 20px;
    }
    button#past-events-drop-btn {
        font-size: 17.5px;
        flex: 1;
        width: fit-content;
        height: auto;
    }
 }
.dropdown-content {
    margin: 50px 0px 5px 0px;
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: column;
    position: absolute;
    z-index: 1;
}
.dropdown-links {
    margin: 0px 0px 5px 10px;
    border-radius: 25%;
    background-color: rgba(0, 0, 0, 0.705);
    border-style: double;
    border-style: double;
    border-block-style: groove;
    border-block-width: thick;
    border-inline-color: rgb(113, 36, 255);
    border-block-color: green;
}
@media only screen and (max-width: 600px) {
    .dropdown-links {
        margin: 5px 0 5px 30px;
    }
}
.dropdown-links:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.3s ease
}
#past-year {
    color:  rgb(10, 180, 88);
    margin: 0 0px 0 0px;
}
#past-year:hover {
    color: rgb(167, 83, 247);
    transition: transform 0.3s ease

}
#past-year:active { color: rgb(104, 85, 233)}
.past-events-banners {
    flex: 0px;

    border-radius: 25%;
    max-width: 300px;
    max-height: 300px;
    height: 300px;
    width: 300px;
    border-style: double;
    border-block-end-color: rgb(0, 65, 50);
    box-shadow: 3px 3px 6px 2px rgb(0, 43, 4);
}
@media only screen and (max-width: 600px) {
    img.past-events-banners {
        border-radius: 25%;
        border-style: double;
        border-block-end-color: rgb(0, 65, 50);
        box-shadow: 3px 3px 6px 2px rgb(0, 43, 4);
        flex: 1;

        width: 75%;
    }
}
.past-events-banners:hover {
    transform: scale3d(1.02, 1.02, 1.02); 
    transition: transform 0.3s ease

}
.past-events-banners:active {
    transform: scale3d(1.03, 1.03, 1.03); 
}
.pastList {
    display: flex;

}
#pastList {
    display: flex;
}
@media only screen and (max-width: 600px) {
    ul.pastList {
        justify-content: center;
        margin: unset;
    }
    ul.eventsList {
        margin: unset;
        justify-content: center;
        padding: unset;
    }
    li.article-style {
        justify-content: center;
    }
}
.top3 {
    font-size: large;
}
img:focus {
    image-rendering:optimizeQuality;
    transform: scale3d(1.3, 1.3, 1.3);
    cursor:pointer;
    transition: .25s ease;
}
img.zoomed {
    transform: scale3d(1, 1, 1);
}
img:hover {
    cursor:zoom-in;
}
img.past-events-banners:hover {
    cursor: pointer;
}
img.events-banners:hover {
    cursor: pointer;
}
img.plus-side-net-nav:hover {
    cursor: pointer;
}
img.youtube-link:hover {
    cursor: pointer;
}
img.twitter-link:hover {
    cursor: pointer;
}
img.article-banner:hover {
    cursor: pointer;
}
img.upcoming-resize:hover {
    cursor: unset;
}
img.pm-rank:hover {
    cursor: unset;
}
img.pm-rank-centered:hover {
    cursor: unset;
}
img.events-banners-trans {
    cursor: unset;
}
#pageHeader {
    font-family: 'Nunito';
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 100px;
    font-style: italic;
    margin: unset;
}
#authorPageHeader {
    font-family: 'Nunito';
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 50px;
    font-style: italic;
    margin: unset;
    margin: 1% 0 2% 0;
}
@media only screen and (max-width: 600px) {
   #pageHeader {
    font-family: 'Nunito';
    -webkit-text-stroke-width: unset;
    font-size: x-large;
    margin: unset;
   }
   #authorPageHeader {
    font-family: 'Nunito';
    -webkit-text-stroke-width: unset;
    font-size: large;
    margin: 5px 0 5px 0;
   }
   h1.textGradient {
    text-shadow:
    0px 0px 0px #ffffff, /* Outer shadow */
    2px 2px 2px rgba(50,185,152,1), /* Inner shadow */
    2px 2px 2px  rgba(50,185,152,1); /* Inner shadow */
   }
}
.textGradient {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 45%, rgba(128,128,128,1) 60%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 45%, rgba(128,128,128,1) 60%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 45%, rgba(128,128,128,1) 60%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    text-shadow:
    0px 0px 0px #ffffff, /* Outer shadow */
    3px 3px 3px rgba(50,185,152,1), /* Inner shadow */
    3px 3px 3px  rgba(50,185,152,1); /* Inner shadow */
}
#pageHeaderAuthor {

    font-family: 'Nunito';
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 50px;
    font-style: italic;
    margin: unset;
}
.card {
    display: block;
    align-items: center;
    background: rgb(147,255,214);
    background: -moz-radial-gradient(circle, rgba(147,255,214,1) 65%, rgba(50,185,152,1) 90%);
    background: -webkit-radial-gradient(circle, rgba(147,255,214,1) 65%, rgba(50,185,152,1) 90%);
    background: radial-gradient(circle, rgba(147,255,214,1) 65%, rgba(50,185,152,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#93ffd6",endColorstr="#32b998",GradientType=1);
    box-shadow: 0px 0px 22px 0px  rgb(0, 0, 0);
}
td {
    text-align: center;
    justify-content: center;
}
table {
    background: rgb(64,213,254);
    background: -moz-linear-gradient(180deg, rgba(64,213,254,1) 0%, rgba(213,235,241,1) 90%);
    background: -webkit-linear-gradient(180deg, rgba(64,213,254,1) 0%, rgba(213,235,241,1) 90%);
    background: linear-gradient(180deg, rgba(64,213,254,1) 0%, rgba(213,235,241,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#40d5fe",endColorstr="#d5ebf1",GradientType=1); 
}
thead {
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(255,186,226,1) 30%, rgba(255,255,255,1) 80%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(255,186,226,1) 30%, rgba(255,255,255,1) 80%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(255,186,226,1) 30%, rgba(255,255,255,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
.bg-info {
    background: rgb(63,247,251);
    background: -moz-linear-gradient(125deg, rgba(63,247,251,1) 20%, rgba(115,141,252,1) 50%, rgba(255,173,189,1) 80%);
    background: -webkit-linear-gradient(125deg, rgba(63,247,251,1) 20%, rgba(115,141,252,1) 50%, rgba(255,173,189,1) 80%);
    background: linear-gradient(125deg, rgba(63,247,251,1) 20%, rgba(115,141,252,1) 50%, rgba(255,173,189,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ff7fb",endColorstr="#ffadbd",GradientType=1);
}
th {
    text-align: center;
}
.card-header {
    font-family: 'Nunito';
    text-align: center;
}
.calendarImg {
    border-radius: 25%;
    height: 100px;
    width: 100px;
}
.calendarImg:hover {
    cursor: unset;
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.3s ease;
}
.calendar-container {
    padding: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  #calendar-body td {
    text-align: center;
    vertical-align: middle;
  }
  form.form-inline {
    justify-content: space-evenly;
  }
  .table td, .table th {
    padding: unset;
  }
td {
    height: 100px;
    width: 100px;
    box-shadow: 0 0 15px 0  rgb(167, 83, 247);
}
#next, #previous {
    color: #000000;
    border-color:rgb(0, 0, 0);
    font-size: large;
}
#month, #year {
    margin-bottom: 20px;
}
label.lead {
    margin-bottom: 20px;
}
.table-bordered {
    width: fit-content;
}
@media only screen and (max-width: 767px) {
    .container {
        max-width: fit-content;
        margin: 1% 1% 1% 1%;
        padding: 1% 1% 1% 1%;
    } 
    .calendar-container  {

        justify-content: center;
        align-items: center;
        height: 15px;
    } 
    div.card  {
        max-width: 90%;
        margin: unset;
        background: rgb(147,255,214);
        background: -moz-radial-gradient(circle, rgba(147,255,214,1) 65%, rgba(50,185,152,1) 90%);
        background: -webkit-radial-gradient(circle, rgba(147,255,214,1) 65%, rgba(50,185,152,1) 90%);
        background: radial-gradient(circle, rgba(147,255,214,1) 65%, rgba(50,185,152,1) 90%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#93ffd6",endColorstr="#32b998",GradientType=1);
        height: 100px;
        margin-left: 550px;
    } 
    #calendar-body {
        width: 1%;
      }
    thead {
       font-size: calc(1vw + 1vh);
    }
    td  {
        height: min-content;
        width: 100%;
    } 
     table#calendar.table.table-bordered  {
        width: 100%;
    } 
    .table {
        table-layout: fixed;
        height: min-content;
    } 
    #calendar  {
        
        justify-content: center;
        align-items: center;
    } 
    .calendarImg {
        height: 50px;
        width: 100%
    }
    .form-inline {
        justify-content: space-evenly;
        margin-top: -21px;
        background: rgb(147,255,214);
        background: -moz-radial-gradient(circle, rgba(147,255,214,1) 65%, rgba(50,185,152,1) 90%);
        background: -webkit-radial-gradient(circle, rgba(147,255,214,1) 65%, rgba(50,185,152,1) 90%);
        background: radial-gradient(circle, rgba(147,255,214,1) 65%, rgba(50,185,152,1) 90%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#93ffd6",endColorstr="#32b998",GradientType=1);
    }
    #next, #previous {
        margin-top: 20px;
    }
    #month, #year {
        
        margin-bottom: unset;
    }
    label.lead {
        
        margin-bottom: unset;
    }
}
.calView {
    margin: 0 50px 0 50px;
    font-size: 30px;
background: rgb(50,185,152);
background: -moz-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
background: linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32b998",endColorstr="#ffffff",GradientType=1);    border-radius: 15px 15px 15px 15px;
    padding-left: 18px;
    padding-right: 18px;
    box-shadow: 0 0 3px 0 rgb(0, 196, 16);
        transition: .3s;
        border-block-color: green;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
}
.calViewList {
    font-size: 30px;
    background: rgb(50,185,152);
    background: -moz-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32b998",endColorstr="#ffffff",GradientType=1);    border-radius: 15px 15px 15px 15px;
    padding-left: 18px;
    padding-right: 18px;
    box-shadow: 0 0 3px 0 rgb(0, 196, 16);
        transition: .3s;
        border-block-color: green;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
}
@media only screen and (max-width: 767px) {
    
    div.calViewListContainer {
        margin: 0 0px 0 30px;

    }

    button.calView {
        margin: 10px 5px 5px 0;
        flex: 1;
        width: fit-content;
        height: auto;
        font-size: 17.5px;
    }
    .listView {
    margin-bottom: 1%;    
}
button.calViewList {
    margin: 10px 5px 5px 0;
    font-size: 17.5px;
}
div#inputContainer {
    margin: 0 0 0 10%;
}
div.Upcoming-event-form  {
    width: 75%;
}
}
.calView:hover
    {
    color: rgb(60, 42, 177);
    box-shadow: 2px 2px 5px 1px rgb(0, 43, 4);
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
       box-shadow: 0 0 20px 0  rgb(167, 83, 247);
       border-inline-color: rgb(113, 36, 255);
       border-block-color: green;       
}
.calViewList:hover {
    box-shadow: 0 0 20px 0  rgb(167, 83, 247);
    border-inline-color: rgb(113, 36, 255);
    border-block-color: green;
}

.listView {
    margin-bottom: 6%;
}
.calViewListContainer {
    margin: 0 0px 0 70px;
    display: flex;
    justify-content: center;

}
.hidden {
    display: none;
}

#EventDateUpcoming, #EventLocationUpcoming, #EventTitleUpcoming, #EventUrlUpcoming, #EventImageUpcoming, #EventDescriptionUpcoming, #EventPassUpcoming {
    display: inline;
}
#textInputUpcomingTitle, #textInputUpcomingDate, #textInputUpcomingLocation, #textInputUpcomingUrl, #textInputUpcomingImage, #textInputUpcomingDescription, #textPassUpcoming {
    margin: 10px;
}
.Upcoming-event-form {
    font-size: 25px;
    border-radius: 15px 15px 15px 15px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 0 0 3px 0 rgb(0, 196, 16);
        transition: .3s;
        border-inline-color: rgb(113, 36, 255);
        border-block-color: green;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
       background: rgb(50,185,152);
       background: -moz-linear-gradient(30deg, rgba(50,185,152,1) 15%, rgba(147,255,214,1) 35%, rgba(50,185,152,1) 55%, rgba(147,255,214,1) 75%, rgba(50,185,152,1) 95%);
       background: -webkit-linear-gradient(30deg, rgba(50,185,152,1) 15%, rgba(147,255,214,1) 35%, rgba(50,185,152,1) 55%, rgba(147,255,214,1) 75%, rgba(50,185,152,1) 95%);
       background: linear-gradient(30deg, rgba(50,185,152,1) 15%, rgba(147,255,214,1) 35%, rgba(50,185,152,1) 55%, rgba(147,255,214,1) 75%, rgba(50,185,152,1) 95%);
       filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32b998",endColorstr="#32b998",GradientType=1);
       box-shadow: 0 0 9px 0  rgb(113, 36, 255);
       border-inline-color: rgb(113, 36, 255);
       border-block-color: green;
       font-family: 'Nunito';
       height: fit-content; 
       width: 30%;
       margin: 10px 0 0 34%;

}
.Upcoming-event-form:hover {
    border-style: double;
    border-block-style: groove;
   border-block-width: thick;
   border-inline-color: green;
   border-block-color: rgb(113, 36, 255);
}
.Upcoming-event-form-button {
    margin: 8px 50px 0 50px;
    font-size: 30px;
background: rgb(50,185,152);
background: -moz-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
background: linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32b998",endColorstr="#ffffff",GradientType=1);    border-radius: 15px 15px 15px 15px;
    padding-left: 18px;
    padding-right: 18px;
    box-shadow: 0 0 3px 0 rgb(0, 196, 16);
        transition: .3s;
        border-block-color: green;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
}
.Upcoming-event-form-button:hover, .Upcoming-event-form-button:focus {
    box-shadow: 0 0 20px 0  rgb(167, 83, 247);
    border-inline-color: rgb(113, 36, 255);
    border-block-color: green;
}
.submit-btn {
    font-size: 20px;
    background: rgb(50,185,152);
    background: -moz-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(50,185,152,1) 35%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32b998",endColorstr="#ffffff",GradientType=1);
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 3px 0 rgb(0, 196, 16);
        transition: .3s;
        margin: 0px 0px 10px 0px;
}
.submit-btn:hover {
    color: rgb(60, 42, 177);
    box-shadow: 2px 2px 5px 1px rgb(0, 43, 4);
}
input#textInputUpcomingTitle {
    display: inline-flex;
    width: 50%;
}
input#textInputUpcomingDate { 
    display: inline-flex;
    width: 50%;
}
input#textInputUpcomingLocation { 
    display: inline-flex;
    width: 50%;
}
input#textInputUpcomingUrl { 
    display: inline-flex;
    width: 50%;
}
input#textInputUpcomingImage { 
    display: inline-flex;
    width: 50%;
}
input#textInputUpcomingDescription { 
    display: inline-flex;
    width: 50%;
}
input#textPassUpcoming {
    display: inline-flex;
    width: 50%; 
}
div.addEventSec {
    font-size: 20px;
}
form#upcomingSub {
    text-align: center;
    margin: 10px 0 10px 0;
}
.patreonList {
    align-items: center;
    display: flex
}
.patreonList1 {
    align-items: center;
    min-height: 25%;
    min-width: 25%;
    max-width: 25%;
    max-height: 25%;
    display: flex;
}
.patreonList2 {
    align-items: center;
    min-height: 50%;
    min-width: 50%;
    max-width: 50%;
    max-height: 50%;
    display: flex;
}
.patreonList3 {
    align-items: center;
    min-height: 75%;
    min-width: 75%;
    max-width: 75%;
    max-height: 75%;
    display: flex;
}
.donor {
    font-size: x-large;
    margin: 50px;
}
.donorImg {
    margin: -10px;
    min-height: 50%;
    min-width: 50%;
    max-width: 50%;
    max-height: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 50%;
    width: 50%;
    border:  rgba(50,185,152,1);
    border-width: 7px;
    border-style: groove;
    border-radius: 75%;
    box-shadow: 0px 0px 20px 0  rgb(167, 83, 247);

}
.donorImg:hover { 
    border-color:  rgb(167, 83, 247);
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: scale3d(1.1, 1.1, 1.1); 
    box-shadow: 0 0 20px 0  rgba(50,185,152,1);

}
.donorImg:active { 
    cursor: pointer;
    transition: transform 0.3s ease;
}
.donorBorder {
    font-family: 'Nunito';
    text-align: center;
    padding: 25px;
    margin: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 100px 100px 100px 100px;
    transition: .3s;
    border-style: double;
    border-block-style: groove;
   border-block-width: thick;
   background: rgb(50,185,152);
   background: -moz-linear-gradient(30deg, rgba(50,185,152,1) 15%, rgba(147,255,214,1) 35%, rgba(50,185,152,1) 55%, rgba(147,255,214,1) 75%, rgba(50,185,152,1) 95%);
   background: -webkit-linear-gradient(30deg, rgba(50,185,152,1) 15%, rgba(147,255,214,1) 35%, rgba(50,185,152,1) 55%, rgba(147,255,214,1) 75%, rgba(50,185,152,1) 95%);
   background: linear-gradient(30deg, rgba(50,185,152,1) 15%, rgba(147,255,214,1) 35%, rgba(50,185,152,1) 55%, rgba(147,255,214,1) 75%, rgba(50,185,152,1) 95%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32b998",endColorstr="#32b998",GradientType=1);
   box-shadow: 0 0 9px 0  rgb(113, 36, 255);
   border-inline-color: rgb(113, 36, 255);
   border-block-color: green;
   writing-mode: horizontal-tb;
}
.donorBorder:hover {
    border-style: double;
    border-block-style: groove;
   border-block-width: thick;
   box-shadow: 0 0 20px 0  rgb(255, 255, 255);
   border-inline-color: green;
   border-block-color: rgb(113, 36, 255);
}
@media only screen and (max-width: 600px) {
    .donorBorder {
        display: flex;
        align-items: center;
        border-radius: 25%;
        border-style: double;
        flex: 1;
        width: 75%;
        height: 75%;
        max-width: 250px;
        min-width: 200px;
        box-shadow: 0 0 15px 0  rgb(113, 36, 255);
}

.patreonList {
    display: inline-block;
    align-items: center;
}
.patreonList1 {
    display: inline-block;
    align-items: center;
}
.patreonList2 {
    display: inline-block;
    align-items: center;
}
.patreonList3 {
    display: inline-block;
    align-items: center;
}

.donor {
    margin: 15px;
}
.donorImg {
    margin: unset;
    min-height: 75%;
    min-width: 75%;
    max-width: 75%;
    max-height: 75%;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-width: 7px;
    border-style: groove;
    border-radius: 75%;
}
.donorName {
    font-size: x-large;
}
}
a.donorName {
    color: white;
    font-size: x-large;
}
a.donorName:hover {
    color: rgb(10, 180, 88);
}
a.donorName:active { 
    color: rgb(167, 83, 247);
}
.whitetext {
    color: white;
}
img.placeholderimg {
    border-radius: 30%;
    cursor: default;
    box-shadow: 0 0 30px 0 rgb(206, 169, 255);
}